{% extends 'web/layout.html' %}

{% block title %}
    {{ owner.username }}/{{ repo.name }}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb mb-0 bg-dark">
    <li class="breadcrumb-item">
        <a class="rounded" href="{% url 'user_page' username=owner.username %}">{{ owner.username }}</a>
    </li>
    <li class="breadcrumb-item active">
        <a class="rounded" href="#">{{ repo.name }}</a>
    </li>
</ol>
{% endblock breadcrumbs %}

{% block content %}
    <div>
        <strong>{{ repo.name }}</strong>
        <span class="badge rounded-pill text-bg-secondary">
            {% if repo.is_public %} public {% else %} private {% endif %}
        </span>
    </div>

    <p>
        {{repo.description}}
    </p>

{% endblock %}
