{% extends 'web/layout.html' %}

{% block title %}
    Create Repo
{% endblock %}

{% block content %}

<h1>Create a repo</h1>
<form method="POST">
    {% csrf_token %} 
    <div class="form-floating mb-3">
        <label for="name" class="form-label">Repository name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter repository name" required>
    </div>

    <div class="form-floating mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" rows="3" placeholder="Enter description"></textarea>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Create repo</button>
    </div>
</form>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
{% endif %}

{% endblock %}
