{% extends 'web/layout.html' %}

{% block title %}{% endblock %}

{% block content %}

{% for repo in repos %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{% url 'repo_page' username=owner.username repo_name=repo.name %}">
                {{repo.name}}
            </a>
            <span class="toast">
                {% if repo.is_public %}
                    public 
                {% else %}
                    private 
                {% endif %}
            </span>
        </h5>
        <p class="card-text">
            {{repo.description}}
        </p>
    </div>
</div>
{% endfor %}

{% endblock %}
